<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<object th:replace="_include/_meta"></object>
<title>活动管理</title>
</head>
<body>
	<div is="el-row" id="vm" v-cloak>
		<div is="el-col" :span="24" class="warp">
			<div is="el-row" class="element-row ">
				<div is="el-col" :span="8" style="height: 55px;">
					<div is="el-button" type="success" icon="el-icon-plus" @click="add()">新增</div>
				</div>
				<div is="el-col" :span="16">
					 <div is="el-form" :model="form" :inline="true" lable-width="80px" class="demo-form-inline clearfix">
						<div class="fr">
							<div is="el-form-item" label="标题" label-width="85px">
								<div is="el-input" v-model="form.keyword" placeholder="请输入标题" clearable></div>
							</div>
							<div is="el-form-item" label="活动类型" label-width="110px" >
								<div is="el-select" v-model="form.type" filterable placeholder="请选择">
									<div is="el-option"
										 v-for="item in types"
										 :key="item.code"
										 :label="item.codename"
										 :value="item.code">
									</div>
								</div>
							</div>
							<div is="el-form-item">
								<div is="el-button" type="warning" @click="search">查询</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="element-table">
				<div is="el-table" ref="table" :data="page.records" border style="width: 100%"  v-loading="page.isLoading" element-loading-text="加载中" element-loading-spinner="el-icon-loading"
					element-loading-background="rgba(0,0,0,0.4)">
					<div is="el-table-column" align="center" prop="name" label="标题"  show-overflow-tooltip></div>
					<div is="el-table-column" align="center" prop="codename" label="类型" width="220" show-overflow-tooltip></div>
					<div is="el-table-column" align="center" prop="enabled" label="状态" :formatter="formatEnabled" width="130"></div>
					<div is="el-table-column" align="center" label="操作" width="220">
						<div slot-scope="scope">
							<button is="el-button" type="text" size="mini" @click="updateData(scope.row)">编辑</button>
							<button is="el-button" v-if="scope.row.type==='selectionActivities'" type="text" size="mini" @click="activitiesModules(scope.row)">活动模块</button>
							<button is="el-button" v-if="scope.row.type==='quiz'" type="text" size="mini" @click="activitiesQuestions(scope.row)">竞赛题</button>
							<button is="el-button" type="text" size="mini" @click="deleteData(scope.row)">删除</button>
							<button is="el-button" type="text" v-if="scope.row.enabled=='0'" size="mini" @click="enable(scope.row,1)">启用</button>
							<button is="el-button" type="text" v-if="scope.row.enabled=='1'" size="mini" @click="enable(scope.row,0)">停用</button>
						</div>
					</div>
				</div>
			</div>
			<div class="pagination">
				<div is="el-pagination" @current-change="pagedQuery" :current-page="page.currentPage" :page-size="page.limit" layout="total,prev,pager,next,jumper" :total="page.total"></div>
			</div>
		</div>
	</div>

	<script>
		new Vue({
			el : '#vm',
			data : {
				form : {
					keyword : '',
					type : ''
				},
				page : {
					currentPage : 1,
					limit : 15,
					total : 0,
					records : [],
					isLoading : false,
					params : {
						name : ''
					}
				},
				types : []
			},
			created : function() {
				__.$vm = this;
			},
			mounted : function() {
				__.mask();
				this.pagedQuery(1);
				//处理分页输入框 可以输入小数的问题
				var oInput = document.getElementsByTagName('input')[0];
				if(!!oInput){
					oInput.onblur = function() {
						if(!!oInput.value){
						return oInput.value = oInput.value.replace(/^,*|,*$/g,'');
					}
					return "";
					};
				}
				this.getDic();
				__.unmask();
			},
			methods : {
				// 分页ele
				pagedQuery : function(currentPage) {
					var vm = this, page = vm.page;
					currentPage && (page.currentPage = currentPage);
					var params = __.pagedParams(page.currentPage, page.limit);
					__.extend(params, vm.page.params);
					__.api('GET', '/rest/activities/list', params, function(result) {
						if (__.err(result)) {
							vm.$message.warning(result.message);
							return;
						}
						vm.page.total = result.total | 0;
						vm.page.records = result.data;
					});
				},
                search : function() {
                    this.page.params = {
                        name : __.trim(this.form.keyword),
                        type : __.trim(this.form.type)
                    }
                    this.pagedQuery(1);
                },
				formatEnabled : function(row, column, cellValue) {
					if (row.enabled == "0") {
						return "停用";
					} else if (row.enabled == "1") {
						return "启用";
					} else {
						return "未知状态";
					}
				},
				enable : function(record, enabled) {
					var vm = this;
					var id = record.id;
					__.api('POST', '/rest/activities/enable', {
						id : id,
						enabled : enabled
					}, function(result) {
						if (!__.err(result)) {
							if (enabled == "1") {
								vm.$message({
									message : '启用成功！',
									type : 'success'
								});
							} else if (enabled == "0") {
								vm.$message({
									message : '停用成功！',
									type : 'warning'
								});
							}
							vm.pagedQuery();
						}
					});
				},
				add: function(){
					var vm = this;
					__.dialog.open({
						title : '新增',
						width : '90%',
						height : '100%',
						url : __.url('/yll/activities/activities-edit.html', {
							
						}),
						close : function(result) {
							vm.pagedQuery();
						}
					});
				},
				updateData: function(record){
					var vm = this;
					__.dialog.open({
						title : '编辑',
						width : '90%',
						height : '100%',
						url : __.url('/yll/activities/activities-edit.html', {
							id : record.id
						}),
						close : function(result) {
							vm.pagedQuery();
						}
					});
				},
				deleteData: function(record){
					var vm = this;
					var id = record.id;
					vm.$confirm("确定要删除？", "删除确认", {
						confirmButtonText : "确定",
						cancelButtonText : "取消",
						type : "warning"
					}).then(function() {
						__.mask();
						__.api('DELETE', '/rest/activities/' + id, {}, function(result) {
							if (!__.err(result)) {
								__.unmask();
								vm.pagedQuery();
								vm.$message({
									message : '删除成功！',
									type : 'success'
								});
							} else {
								__.unmask();
								vm.$message.warning(result.message);
								return;
							}
						});
					})
				},
				activitiesModules: function(record){	//TODO 此处需要写活动列表页，以及下钻编辑页
					var vm = this;
					__.dialog.open({
						title : '活动模块',
						width : '90%',
						height : '100%',
						url : __.url('/yll/activities/activities-modules-list.html', {
							id : record.id
						}),
						close : function(result) {
							vm.pagedQuery();
						}
					});
				},
				activitiesQuestions: function(record){
					var vm = this;
					__.dialog.open({
						title : '活动竞赛题模块',
						width : '90%',
						height : '100%',
						url : __.url('/yll/activities/activities-questions-list.html', {
							id : record.id
						}),
						close : function(result) {
							vm.pagedQuery();
						}
					});
				},
				getDic : function() {
					vm = this;
					//数据字典类别
					__.api('POST', '/rest/dic/all', {'targetId' : 'activities'}, function(result) {
						if (__.err(result)) {
							vm.$message.warning(result.message);
						} else {
							vm.types = result.data;
						}
					});
				},
			}
		});
	</script>
</body>
</html>