<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<object th:replace="_include/_meta"></object>
<title>产品新增和编辑</title>
<style>
.el-picker-panel {
	height: 320px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.el-date-editor.el-input, .el-input-number--small {
	width: 100%;
}

.unit {
	text-align: right;
	line-height: 40px;
}

/*@media screen and(-ms-high-contrast:active),(-ms-high-contrast:none){
	.el-picker-panel {
		height: 200px;
	}
}*/
</style>
</head>
<body>
	<div id="vm"  v-cloak  class="vm">
		<form is="el-form" :model="form" ref="form" :rules="rules" style="width: 100%;">
			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="名称" label-width="110px" prop="name">
						<input is="el-input" v-model="form.name" controls-position="right" size="small" autocomplete="off">
					</div>
				</div>
			</div>
			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="简介" label-width="110px">
						<input is="el-input" v-model="form.profile" controls-position="right" autocomplete="off">
					</div>
				</div>
			</div>
			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="类别" label-width="110px" prop="type">
						<div is="el-select" v-model="form.type" filterable placeholder="请选择">
							<div is="el-option"
								 v-for="item in types"
								 :key="item.code"
								 :label="item.codename"
								 :value="item.code">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="价格" label-width="110px" prop="price">
						<input is="el-input-number" v-model="form.price" controls-position="right" :min="1" :max="9999" />
					</div>
				</div>
			</div>
			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="排序" label-width="110px">
						<input is="el-input" v-model="form.ordinal" controls-position="right" autocomplete="off">
					</div>
				</div>
			</div>
			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="基本信息" label-width="110px" prop="content">
						<div id="wangEditor" v-model="form.content">
							<p>请输入基本信息...</p>
						</div>
					</div>
				</div>
			</div>
			<div is="el-row">
				<div is="el-col" :span="21">
					 <div is="el-form-item" label="精品封面" label-width="110px">
						<div is="el-upload"
							 class="upload-demo"
							 :accept="imageAccept"
							 :action="uploadUrl"
							 :http-request="uploadFile"
							 data="cover"
							 :on-preview="handlePreview"
							 :on-remove="handleRemove"
							 :on-success="handleSuccess"
							 :file-list="coverFiles"
							 list-type="picture">
							<el-button size="small" type="primary">点击上传</el-button>
							<div slot="tip" class="el-upload__tip">只能上传{{imageAccept}}文件。</div>
						</div>
					</div>
				</div>
			</div>
			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="列表封面" label-width="110px">
						<div is="el-upload"
								class="upload-demo"
								:accept="imageAccept"
								:action="uploadUrl"
							 	:http-request="uploadFile"
								 data="image"
								:on-preview="handlePreview"
								:on-remove="handleRemove"
								:on-success="handleSuccess"
								:file-list="imageFiles"
								list-type="picture">
							<el-button size="small" type="primary">点击上传</el-button>
							<div slot="tip" class="el-upload__tip">只能上传{{imageAccept}}文件。</div>
						</div>
					</div>
				</div>
			</div>
			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="详情图片" label-width="110px">
						<div is="el-upload"
							 class="upload-demo"
							 :accept="imageAccept"
							 :action="uploadUrl"
							 :http-request="uploadFile"
							 data="picture"
							 :on-preview="handlePreview"
							 :on-remove="handleRemove"
							 :on-success="handleSuccess"
							 :file-list="pictureFiles"
							 list-type="picture">
							<el-button size="small" type="primary">点击上传</el-button>
							<div slot="tip" class="el-upload__tip">只能上传{{imageAccept}}文件。</div>
						</div>
					</div>
				</div>
			</div>
			<div is="el-row">
				<div is="el-form-item" align="center" style="margin-top: 20px;">
					<button is="el-button" type="success" @click="confirm('form')">确定</button>
					<button is="el-button" @click="cancel()">取消</button>
				</div>
			</div>
		</form>
	</div>
	<script>
		new Vue({
			el : '#vm',
			data : {
				form : {
					id : '',
					name : '',
					profile : '',
					content : '',
					price : 0,
					cover : '',
					image : '',
					picture : '',
					video : '',
					type : '',
					remark : '',
					ordinal : 99,
					enabled : '0'
				},
				rules:{
					name:[{
						required : true,
						message : '请输入名称',
						trigger : 'blur'
					}],
					content:[{
						required : false,
						message : '请输入基本信息',
						trigger : 'blur'
					}],
					type:[{
						required : true,
						message : '请输入类别',
						trigger : 'blur'
					}],
					price:[{
						required : true,
						message : '请输入价格',
						trigger : 'blur'
					}]
				},
				coverFiles: [],
                imageFiles: [],
                pictureFiles: [],
				types : [],
				uploadType : "",
				uploadUrl : cc.uploadUrl,
				imageAccept : cc.imageAccept,
			},
			created : function() {
			},
			mounted : function() {
				var vm = this, search = __.decodeUrlParams();
				var id = search.id;
				if (!__.isEmpty(id)) {
					__.api('GET', '/rest/products/' + id, {}, function(result) {
						if (__.err(result)) {
							vm.$message.warning(result.message);
							return;
						}
						var form = result.data;
						form.enabled = String(form.enabled);
						vm.form = form;
						//富文本回显
						cc.wangEditor('wangEditor', vm.form, vm.form.content);
						//图片回显
						vm.imageFiles = cc.display(vm.form.image, "image");
						vm.coverFiles = cc.display(vm.form.cover, "cover");
						vm.pictureFiles = cc.display(vm.form.picture, "picture");
					});
				}
				cc.wangEditor('wangEditor', vm.form);
				vm.getDic();
			},
			methods : {
				confirm : function(formName) {
					var vm = this;
					var params = {}, form = this.form;
					//去除尾部逗号
					cc.trim(form);
					//引入富文本公共html
					form.content = cc.editorImportHtml(form.content);
					this.$refs[formName].validate(function(valid) {
						if(valid){
							__.api('POST', '/rest/products/save', form, function(result) {
								if (__.err(result)) {
									vm.$message.warning(result.message);
								} else {
									vm.$message.info("保存成功");
									__.dialog.close();
								}
							});
						}else{
							return false
						}
					})
	
				},
				cancel : function() {
					__.dialog.close();
				},
				getDic : function() {
					vm = this;
					//数据字典类别
					__.api('POST', '/rest/dic/all', {'targetId' : 'products'}, function(result) {
						if (__.err(result)) {
							vm.$message.warning(result.message);
						} else {
							vm.types = result.data;
						}
					});
				},
				/**
				 * COS上传
				 * @param file
				 * @param fileList
				 */
				uploadFile : function(param){
					var vm = this;
					var file = param.file;
					var data = param.data;
					vm.uploadType = data;
					cosUtils.upload(param, vm.form, data);
				},
				handleRemove : function(file, fileList) {
					vm = this;
					//删除文件时
					cc.handleRemove(file, fileList, vm.form, file.type);
				},

				handlePreview : function(file) {
					//点击已上传的文件链接时
					cc.handlePreview(file, vm.form);
				},
				handleSuccess : function(response,file,fileList) {
					vm = this;
					file.path = response.data;
					//文件上传成功时
					cc.handleSuccess(response, file, fileList, vm.form, vm.uploadType);
				},

			}
		})

	</script>
</body>
</html>