<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yll.mapper.ActivitiesQuestionsMapper">

	<resultMap id="RESULT_MAP" type="yll.entity.ActivitiesQuestions">
		<id property="id" column="id" jdbcType="VARCHAR" />
		<result property="targetId" column="target_id" jdbcType="VARCHAR" />
		<result property="content" column="content" jdbcType="LONGVARCHAR" />
		<result property="type" column="type" jdbcType="VARCHAR" />
		<result property="state" column="state" jdbcType="INTEGER" />
		<result property="remark" column="remark" jdbcType="VARCHAR" />
		<result property="ordinal" column="ordinal" jdbcType="INTEGER" />
		<result property="enabled" column="enabled" jdbcType="INTEGER" />
		<result property="deleted" column="deleted" jdbcType="INTEGER" />
		<result property="creator" column="creator" jdbcType="VARCHAR" />
		<result property="createdTime" column="created_time" jdbcType="TIMESTAMP" />
		<result property="modifier" column="modifier" jdbcType="VARCHAR" />
		<result property="modifiedTime" column="modified_time" jdbcType="TIMESTAMP" />
		<result property="deleter" column="deleter" jdbcType="VARCHAR" />
		<result property="deletedTime" column="deleted_time" jdbcType="TIMESTAMP" />
	</resultMap>

	<resultMap id="RESULT_VO_MAP" type="yll.service.model.vo.ActivitiesQuestionsVo" extends="RESULT_MAP">
		<result property="codename" column="codename" jdbcType="VARCHAR" />
		<result property="activityName" column="activityName" jdbcType="VARCHAR" />
		<collection property="answerList" resultMap="RESULT_ANSWER_MAP" />
	</resultMap>

	<resultMap id="RESULT_ANSWER_MAP" type="yll.service.model.vo.ActivitiesAnswerVo">
		<id property="id" column="aid" jdbcType="VARCHAR" />
		<result property="targetId" column="atarget_id" jdbcType="VARCHAR" />
		<result property="acontent" column="acontent" jdbcType="LONGVARCHAR" />
		<result property="answer" column="answer" jdbcType="VARCHAR" />
		<result property="state" column="astate" jdbcType="INTEGER" />
		<result property="remark" column="aremark" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="TABLE">activities_questions</sql>

	<sql id="COLUMNS">
		id, target_id, content, type, state, remark, ordinal,
		enabled,deleted, creator, created_time,
		modifier,modified_time, deleter, deleted_time
	</sql>

	<sql id="VALUES">
		#{id}, #{targetId},  #{content}, #{type}, #{state}, #{remark},
		#{ordinal}, #{enabled},#{deleted}, #{creator}, #{createdTime},
		#{modifier},#{modifiedTime}, #{deleter}, #{deletedTime}
	</sql>

	<sql id="SET_VALUES">
		<trim suffixOverrides=",">
			<if test=" targetId != null">
				target_id = #{targetId},
			</if>
			<if test=" content != null">
				content = #{content},
			</if>
			<if test=" type != null">
				type = #{type},
			</if>
			<if test=" state != null">
				state = #{state},
			</if>
			<if test=" remark != null">
				remark = #{remark},
			</if>
			<if test=" ordinal != null">
				ordinal = #{ordinal},
			</if>
			<if test=" enabled != null">
				enabled = #{enabled},
			</if>
			<if test=" deleted != null">
				deleted = #{deleted},
			</if>
			<if test=" creator != null">
				creator = #{creator},
			</if>
			<if test=" createdTime != null">
				created_time = #{createdTime},
			</if>
			<if test=" modifier != null">
				modifier = #{modifier},
			</if>
			<if test=" modifiedTime != null">
				modified_time = #{modifiedTime},
			</if>
			<if test=" deleter != null">
				deleter = #{deleter},
			</if>
			<if test=" deletedTime != null">
				deleted_time = #{deletedTime},
			</if>
		</trim>
	</sql>

	<sql id="WHERES">
		<if test=" id != null and id != ''">
			and id = #{id}
		</if>
		<if test=" targetId != null and targetId != ''">
			and target_id = #{targetId}
		</if>
		<if test=" content != null and content != '' ">
			and content like CONCAT(CONCAT('%',#{content}),'%')
		</if>
		<if test=" type != null and type != ''">
			and type = #{type}
		</if>
		<if test=" enabled != null ">
			and enabled = #{enabled}
		</if>
		and deleted = 0
	</sql>

	<update id="save">
		INSERT INTO
		<include refid="TABLE" />
		(
		<include refid="COLUMNS" />
		) VALUES (
		<include refid="VALUES" />
		)
		ON DUPLICATE KEY UPDATE
		<include refid="SET_VALUES" />
	</update>

	<insert id="insert" parameterType="yll.entity.ActivitiesQuestions">
		INSERT INTO
		<include refid="TABLE" />
		(
		<include refid="COLUMNS" />
		)
		VALUES
		(
		<include refid="VALUES" />
		)
	</insert>

	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		<include refid="TABLE" />
		WHERE
		id =#{id}
	</delete>

	<delete id="deleteAll">
		DELETE FROM
		<include refid="TABLE" />
	</delete>

	<update id="update" parameterType="yll.entity.ActivitiesQuestions">
		UPDATE
		<include refid="TABLE" />
		SET
		<include refid="SET_VALUES" />
		WHERE
		id = #{id}
	</update>

	<select id="getById" parameterType="java.lang.String" resultMap="RESULT_MAP">
		SELECT
		<include refid="COLUMNS" />
		FROM
		<include refid="TABLE" />
		WHERE id =#{id}
	</select>

	<select id="findAll" resultMap="RESULT_MAP">
		SELECT
		<include refid="COLUMNS" />
		FROM
		<include refid="TABLE" />
	</select>

	<select id="findBy" parameterType="yll.entity.ActivitiesQuestions" resultMap="RESULT_MAP">
		SELECT
		<include refid="COLUMNS" />
		FROM
		<include refid="TABLE" />
		WHERE id != '0'
		<include refid="WHERES" />
		ORDER BY ordinal ASC,  created_time DESC
	</select>

	<select id="findByWithType" parameterType="yll.service.model.vo.ActivitiesQuestionsVo" resultMap="RESULT_VO_MAP">
		SELECT
		m.id, m.target_id, m.content, m.type, m.state, m.remark,
		m.ordinal, m.enabled, m.deleted, m.creator, m.created_time,
		m.modifier, m.modified_time, m.deleter, m.deleted_time,
		sec.codename,
		th.name activityName
		FROM
		<include refid="TABLE" /> m
		LEFT JOIN
		dic sec
		ON sec.code = m.type
		LEFT JOIN
		activities th
		ON th.id = m.target_id
		WHERE m.id != '0' and m.deleted = 0
		<if test=" id != null and id != ''">
			and m.id = #{id}
		</if>
		<if test=" content != null and content != '' ">
			and m.content like CONCAT(CONCAT('%',#{content}),'%')
		</if>
		<if test=" type != null and type != ''">
			and m.type = #{type}
		</if>
		<if test=" enabled != null ">
			and m.enabled = #{enabled}
		</if>
		<if test=" activityId != null and activityId != ''">
			and th.id = #{activityId}
		</if>
		ORDER BY m.ordinal is null, m.ordinal ASC,  m.created_time DESC
	</select>

	<select id="getAppList" parameterType="yll.service.model.vo.ActivitiesQuestionsVo" resultMap="RESULT_VO_MAP">
		SELECT
		m.id, m.target_id, m.content, m.type, m.remark,
		sec.codename,
		fo.content acontent, fo.answer
		FROM
		<include refid="TABLE" /> m
		LEFT JOIN
		dic sec
		ON sec.code = m.type
		LEFT JOIN
		activities th
		ON th.id = m.target_id
		LEFT JOIN
		activities_answer fo
		ON fo.target_id = m.id
		WHERE m.id != '0' and m.deleted = 0
		<if test=" id != null and id != ''">
			and m.id = #{id}
		</if>
		<if test=" content != null and content != '' ">
			and m.content like CONCAT(CONCAT('%',#{content}),'%')
		</if>
		<if test=" type != null and type != ''">
			and m.type = #{type}
		</if>
		<if test=" enabled != null ">
			and m.enabled = #{enabled}
		</if>
		<if test=" activityId != null and activityId != ''">
			and th.id = #{activityId}
		</if>
		ORDER BY m.id ASC
	</select>

</mapper>