<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yll.mapper.DepartmentMapper">

	<resultMap id="RESULT_MAP" type="yll.entity.Department">
		<id property="id" column="id" jdbcType="VARCHAR" />
		<result property="parentId" column="parent_id" jdbcType="VARCHAR" />
		<result property="name" column="name" jdbcType="VARCHAR" />
		<result property="remark" column="remark" jdbcType="VARCHAR" />
		<result property="ordinal" column="ordinal" jdbcType="VARCHAR" />
		<result property="idPath" column="id_path" jdbcType="VARCHAR" />
		<result property="deleted" column="deleted" jdbcType="INTEGER" />
		<result property="createdBy" column="created_by" jdbcType="VARCHAR" />
		<result property="createdAt" column="created_at" jdbcType="TIMESTAMP" />
		<result property="updatedBy" column="updated_by" jdbcType="BIGINT" />
		<result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="TABLE">department</sql>

	<sql id="COLUMNS">
		id, parent_id, name, remark,ordinal,
		id_path,deleted,
		created_by, created_at, updated_by, updated_at
	</sql>

	<sql id="VALUES">
		#{id}, #{parentId}, #{name}, #{remark},#{ordinal},
		#{idPath},#{deleted},
		#{createdBy}, #{createdAt}, #{updatedBy}, #{updatedAt}
	</sql>

	<sql id="SET_VALUES">
		<trim suffixOverrides=",">
			<if test=" parentId != null">
				parent_id = #{parentId},
			</if>
			<if test=" name != null">
				name = #{name},
			</if>
			<if test=" remark != null">
				remark = #{remark},
			</if>
			<if test=" ordinal != null">
				ordinal = #{ordinal},
			</if>
			<if test=" idPath != null">
				id_path = #{idPath},
			</if>
			<if test=" deleted != null">
				deleted = #{deleted},
			</if>
			<if test=" createdBy != null">
				created_by = #{createdBy},
			</if>
			<if test=" createdAt != null">
				created_at = #{createdAt},
			</if>
			<if test=" updatedBy != null">
				updated_by = #{updatedBy},
			</if>
			<if test=" updatedAt != null">
				updated_at = #{updatedAt}
			</if>
		</trim>
	</sql>

	<sql id="WHERES">
		<if test=" parentId != null">
			and parent_id = #{parentId},
		</if>
		<if test=" name != null and name !='' ">
			and and name = #{name}
		</if>
		<if test=" idPath != null and idPath !='' ">
			and id_path = #{idPath},
		</if>
	</sql>


	<update id="save">
		INSERT INTO
		<include refid="TABLE" />
		(
		<include refid="COLUMNS" />
		) VALUES (
		<include refid="VALUES" />
		)
		ON DUPLICATE KEY UPDATE
		parent_id = #{parentId},
		name = #{name},
		remark = #{remark},
		ordinal = #{ordinal},
		id_path = #{idPath},
		deleted = #{deleted},
		created_by = #{createdBy},
		created_at = #{createdAt},
		updated_by = #{updatedBy},
		updated_at = #{updatedAt}
	</update>

	<insert id="insert" parameterType="yll.entity.Department">
		INSERT INTO
		<include refid="TABLE" />
		(
		<include refid="COLUMNS" />
		)
		VALUES
		(
		<include refid="VALUES" />
		)
	</insert>

	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		<include refid="TABLE" />
		WHERE
		id =#{id}
	</delete>

	<delete id="deleteAll">
		DELETE FROM
		<include refid="TABLE" />
	</delete>

	<update id="update" parameterType="yll.entity.Department">
		UPDATE
		<include refid="TABLE" />
		SET
		<include refid="SET_VALUES" />
		WHERE
		id = #{id}
	</update>

	<select id="getById" parameterType="java.lang.String" resultMap="RESULT_MAP">
		SELECT
		<include refid="COLUMNS" />
		FROM
		<include refid="TABLE" />
		WHERE id = #{id}
	</select>

	<select id="findAll" resultMap="RESULT_MAP">
		SELECT
		<include refid="COLUMNS" />
		FROM
		<include refid="TABLE" />
	</select>

	<select id="findByParentId" parameterType="java.lang.String" resultMap="RESULT_MAP">
		SELECT
		<include refid="COLUMNS" />
		FROM
		<include refid="TABLE" />
		WHERE parent_id = #{parentId}
	</select>

	<select id="countByParentId" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT count(*)
		FROM
		<include refid="TABLE" />
		WHERE PARENT_ID = #{parentId}
	</select>

	<select id="findBy" parameterType="yll.entity.Department" resultMap="RESULT_MAP">
		SELECT
		<include refid="COLUMNS" />
		FROM
		<include refid="TABLE" />
		WHERE 1=1
		<include refid="WHERES" />
		ORDER BY ordinal ASC, type ASC, name ASC
	</select>

</mapper>