<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yll.mapper.EnterpriseMapper">

	<resultMap id="RESULT_MAP" type="yll.entity.Enterprise">
		<id property="id" column="id" jdbcType="VARCHAR" />
		<result property="enterpriseName" column="enterprise_name" jdbcType="VARCHAR" />
		<result property="superintendent" column="superintendent" jdbcType="VARCHAR" />
		<result property="phone" column="phone" jdbcType="VARCHAR" />
		<result property="creditCode" column="credit_code" jdbcType="VARCHAR" />
		<result property="description" column="description" jdbcType="VARCHAR" />
		<result property="businessLicense" column="business_license" jdbcType="VARCHAR" />
		<result property="establishTime" column="establish_time" jdbcType="TIMESTAMP" />
		<result property="registeredCapital" column="registered_capital" jdbcType="VARCHAR" />
		<result property="legalPerson" column="legal_person" jdbcType="VARCHAR" />
		<result property="industry" column="industry" jdbcType="VARCHAR" />
		<result property="staff" column="staff" jdbcType="VARCHAR" />
		<result property="logo" column="logo" jdbcType="VARCHAR" />


		<result property="remark" column="remark" jdbcType="VARCHAR" />
		<result property="state" column="state" jdbcType="VARCHAR" />
		<result property="enabled" column="enabled" jdbcType="INTEGER" />
		<result property="deleted" column="deleted" jdbcType="INTEGER" />
		<result property="creator" column="creator" jdbcType="VARCHAR" />
		<result property="createdTime" column="created_time" jdbcType="TIMESTAMP" />
		<result property="modifier" column="modifier" jdbcType="VARCHAR" />
		<result property="modifiedTime" column="modified_time" jdbcType="TIMESTAMP" />
		<result property="deleter" column="deleter" jdbcType="VARCHAR" />
		<result property="deletedTime" column="deleted_time" jdbcType="TIMESTAMP" />
</resultMap>

	<resultMap id="RESULT_VO_MAP" type="yll.service.model.vo.EnterpriseVo" extends="RESULT_MAP">
	</resultMap>

	<sql id="TABLE">dh_enterprise</sql>

	<sql id="COLUMNS">
		id, enterprise_name,  superintendent, phone, credit_code,
		description,  business_license,  establish_time, registered_capital, legal_person, industry, staff, logo,
		remark, state, enabled, deleted, creator, created_time,
		modifier,modified_time, deleter, deleted_time
	</sql>

	<sql id="VALUES">
		#{id}, #{enterpriseName}, #{superintendent}, #{phone}, #{creditCode},
		#{description}, #{businessLicense},  #{establishTime}, #{registeredCapital}, #{legalPerson}, #{industry}, #{staff}, #{logo},
		#{remark}, #{state}, #{enabled},#{deleted}, #{creator}, #{createdTime},
		#{modifier},#{modifiedTime}, #{deleter}, #{deletedTime}
	</sql>

	<sql id="SET_VALUES">
		<trim suffixOverrides=",">
			<if test=" enterpriseName != null">
				enterprise_name = #{enterpriseName},
			</if>
			<if test=" superintendent != null">
				superintendent = #{superintendent},
			</if>
			<if test=" phone != null">
				phone = #{phone},
			</if>
			<if test=" creditCode != null">
				credit_code = #{creditCode},
			</if>
			<if test=" description != null">
				description = #{description},
			</if>
			<if test=" businessLicense != null">
				business_license = #{businessLicense},
			</if>
			<if test=" establishTime != null">
				establish_time = #{establishTime},
			</if>
			<if test=" registeredCapital != null">
				registered_capital = #{registeredCapital},
			</if>
			<if test=" legalPerson != null">
				legal_person = #{legalPerson},
			</if>
			<if test=" industry != null">
				industry = #{industry},
			</if>
			<if test=" staff != null">
				staff = #{staff},
			</if>
			<if test=" logo != null">
				logo = #{logo},
			</if>
			<if test=" remark != null">
				remark = #{remark},
			</if>
			<if test=" state != null">
				state = #{state},
			</if>
			<if test=" enabled != null">
				enabled = #{enabled},
			</if>
			<if test=" deleted != null">
				deleted = #{deleted},
			</if>
			<if test=" creator != null">
				creator = #{creator},
			</if>
			<if test=" createdTime != null">
				created_time = #{createdTime},
			</if>
			<if test=" modifier != null">
				modifier = #{modifier},
			</if>
			<if test=" modifiedTime != null">
				modified_time = #{modifiedTime},
			</if>
			<if test=" deleter != null">
				deleter = #{deleter},
			</if>
			<if test=" deletedTime != null">
				deleted_time = #{deletedTime},
			</if>
		</trim>
	</sql>

	<sql id="WHERES">
		<if test=" id != null and id != ''">
			and id = #{id}
		</if>
		<if test=" enterpriseName != null and enterpriseName != '' ">
			and enterprise_name like CONCAT(CONCAT('%',#{enterpriseName}),'%')
		</if>
		<if test=" creditCode != null and creditCode != ''">
			and credit_code = #{creditCode}
		</if>
		<if test=" superintendent != null and superintendent != ''">
			and superintendent = #{superintendent}
		</if>
		<if test=" phone != null ">
			and phone = #{phone}
		</if>
		<if test=" creator != null and creator != ''">
			and creator = #{creator}
		</if>
		<if test=" enabled != null ">
			and enabled = #{enabled}
		</if>
		and deleted = 0
	</sql>

	<update id="save">
		INSERT INTO
		<include refid="TABLE" />
		(
		<include refid="COLUMNS" />
		) VALUES (
		<include refid="VALUES" />
		)
		ON DUPLICATE KEY UPDATE
		<include refid="SET_VALUES" />
	</update>

	<insert id="insert" parameterType="yll.entity.Enterprise">
		INSERT INTO
		<include refid="TABLE" />
		(
		<include refid="COLUMNS" />
		)
		VALUES
		(
		<include refid="VALUES" />
		)
	</insert>

	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		<include refid="TABLE" />
		WHERE
		id =#{id}
	</delete>

	<delete id="deleteAll">
		DELETE FROM
		<include refid="TABLE" />
	</delete>

	<update id="update" parameterType="yll.entity.Enterprise">
		UPDATE
		<include refid="TABLE" />
		SET
		<include refid="SET_VALUES" />
		WHERE
		id = #{id}
	</update>

	<select id="getById" parameterType="java.lang.String" resultMap="RESULT_MAP">
		SELECT
		<include refid="COLUMNS" />
		FROM
		<include refid="TABLE" />
		WHERE id =#{id}
	</select>

	<select id="findAll" resultMap="RESULT_MAP">
		SELECT
		<include refid="COLUMNS" />
		FROM
		<include refid="TABLE" />
	</select>

	<select id="findBy" parameterType="yll.entity.Enterprise" resultMap="RESULT_MAP">
		SELECT
		<include refid="COLUMNS" />
		FROM
		<include refid="TABLE" />
		WHERE id != '0'
		<include refid="WHERES" />
		ORDER BY  created_time DESC
	</select>

	<select id="findByCondition" parameterType="yll.entity.Enterprise" resultMap="RESULT_MAP">
		SELECT
		<include refid="COLUMNS" />
		FROM
		<include refid="TABLE" />
		WHERE id != '0'
		<include refid="WHERES" />
		ORDER BY  created_time DESC
		LIMIT 0, 1;
	</select>

	<delete id="deleteByCreator" parameterType="java.lang.String">
		DELETE FROM
		<include refid="TABLE" />
		WHERE
		creator =#{creator}
	</delete>

	<select id="getAppAuth" parameterType="yll.entity.Enterprise" resultMap="RESULT_VO_MAP">
		SELECT
		c.id,
		ifnull(m.enterprise_name, '') enterprise_name,
		ifnull(m.credit_code, '') credit_code,
		ifnull(m.superintendent, '') superintendent,
		ifnull(m.phone, '') phone,
		ifnull(m.description, '') description,
		ifnull(m.business_license, '') business_license,
		DATE_FORMAT(m.establish_time , '%Y-%m-%d') establishTimeStr,
		ifnull(m.registered_capital, '') registered_capital,
		ifnull(m.legal_person, '') legal_person,
		ifnull(m.industry, '') industry,
		ifnull(d1.codename, '') industryStr,
		ifnull(m.staff, '') staff,
		ifnull(d2.codename, '') staffStr,
		ifnull(m.logo, '') logo
		FROM
		<include refid="TABLE" /> m
		LEFT JOIN
		customer c ON c.id = m.creator
		LEFT JOIN
		dic d1 ON d1.code = m.industry
		LEFT JOIN
		dic d2 ON d2.code = m.staff
		WHERE m.id != '0'
		and m.creator = #{creator}
		ORDER BY  m.created_time DESC
	</select>

	<select id="findByAdminList" parameterType="yll.service.model.vo.EnterpriseVo" resultMap="RESULT_VO_MAP">
		SELECT
		m.id, ifnull( m.enterprise_name, '') enterprise_name, ifnull( m.credit_code, '') credit_code, ifnull( m.superintendent, '') superintendent, ifnull( m.phone, '') phone,
		m.state, m.creator
		FROM
		<include refid="TABLE" /> m
		WHERE m.id != '0'
		<if test=" enterpriseName != null and enterpriseName != '' ">
			and m.enterprise_name like CONCAT(CONCAT('%',#{enterpriseName}),'%')
		</if>
		<if test=" state != null  ">
			and m.state = #{state}
		</if>
		ORDER BY m.id DESC
	</select>

	<select id="find4Shop" parameterType="yll.entity.Enterprise" resultMap="RESULT_VO_MAP">
		SELECT
		id, enterprise_name name,  superintendent, phone, credit_code,
		description,  business_license,  establish_time, registered_capital, legal_person, industry, staff, logo,
		remark, state, enabled, deleted, creator, created_time,
		modifier,modified_time, deleter, deleted_time
		FROM
		<include refid="TABLE" />
		WHERE id != '0'
		<include refid="WHERES" />
		ORDER BY  created_time DESC
	</select>

</mapper>
