<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yll.mapper.PlatformGroupMapper">

	<resultMap id="RESULT_MAP" type="yll.entity.PlatformGroup">
		<id property="id" column="id" jdbcType="VARCHAR" />
		<result property="pid" column="pid" jdbcType="VARCHAR" />
		<result property="image" column="image" jdbcType="VARCHAR" />
		<result property="liveTime" column="live_time" jdbcType="TIMESTAMP" />

		<result property="ordinal" column="ordinal" jdbcType="INTEGER" />
		<result property="remark" column="remark" jdbcType="VARCHAR" />
		<result property="state" column="state" jdbcType="VARCHAR" />
		<result property="enabled" column="enabled" jdbcType="INTEGER" />
		<result property="deleted" column="deleted" jdbcType="INTEGER" />
		<result property="creator" column="creator" jdbcType="VARCHAR" />
		<result property="createdTime" column="created_time" jdbcType="TIMESTAMP" />
		<result property="modifier" column="modifier" jdbcType="VARCHAR" />
		<result property="modifiedTime" column="modified_time" jdbcType="TIMESTAMP" />
		<result property="deleter" column="deleter" jdbcType="VARCHAR" />
		<result property="deletedTime" column="deleted_time" jdbcType="TIMESTAMP" />

</resultMap>

	<resultMap id="RESULT_VO_MAP" type="yll.service.model.vo.PlatformGroupVo" extends="RESULT_MAP">
		<!--<collection property="attributes" ofType="yll.entity.PlatformAttributeValue">
                        <result property="kname" column="kname" />
                        <result property="name" column="name" />
                        <result property="type" column="type" />
                    </collection>-->
	</resultMap>


	<sql id="TABLE">dh_platform_group</sql>

	<sql id="COLUMNS">
		id, pid, image, live_time,
		ordinal , remark, state, enabled, deleted, creator, created_time,
		modifier,modified_time, deleter, deleted_time
	</sql>

	<sql id="VALUES">
		#{id}, #{pid}, #{image}, #{liveTime},
		#{ordinal}, #{remark}, #{state}, #{enabled},#{deleted}, #{creator}, #{createdTime},
		#{modifier},#{modifiedTime}, #{deleter}, #{deletedTime}
	</sql>

	<sql id="SET_VALUES">
		<trim suffixOverrides=",">
			<if test=" pid != null">
				pid = #{pid},
			</if>
			<if test=" image != null">
				image = #{image},
			</if>
			<if test=" ordinal != null">
				ordinal = #{ordinal},
			</if>
			<if test=" remark != null">
				remark = #{remark},
			</if>
			<if test=" state != null">
				state = #{state},
			</if>
			<if test=" enabled != null">
				enabled = #{enabled},
			</if>
			<if test=" deleted != null">
				deleted = #{deleted},
			</if>
			<if test=" liveTime != null">
				live_time = #{liveTime},
			</if>
			<if test=" creator != null">
				creator = #{creator},
			</if>
			<if test=" createdTime != null">
				created_time = #{createdTime},
			</if>
			<if test=" modifier != null">
				modifier = #{modifier},
			</if>
			<if test=" modifiedTime != null">
				modified_time = #{modifiedTime},
			</if>
			<if test=" deleter != null">
				deleter = #{deleter},
			</if>
			<if test=" deletedTime != null">
				deleted_time = #{deletedTime},
			</if>
		</trim>
	</sql>

	<sql id="WHERES">
		<if test=" id != null and id != ''">
			and id = #{id}
		</if>
		<if test=" pid != null ">
			and pid = #{pid}
		</if>
		<if test=" creator != null and creator != ''">
			and creator = #{creator}
		</if>
		<if test=" enabled != null ">
			and enabled = #{enabled}
		</if>
		and deleted = 0
	</sql>

	<update id="save">
		INSERT INTO
		<include refid="TABLE" />
		(
		<include refid="COLUMNS" />
		) VALUES (
		<include refid="VALUES" />
		)
		ON DUPLICATE KEY UPDATE
		<include refid="SET_VALUES" />
	</update>

	<insert id="insert" parameterType="yll.entity.PlatformGroup">
		INSERT INTO
		<include refid="TABLE" />
		(
		<include refid="COLUMNS" />
		)
		VALUES
		(
		<include refid="VALUES" />
		)
	</insert>

	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		<include refid="TABLE" />
		WHERE
		id =#{id}
	</delete>

	<delete id="deleteAll">
		DELETE FROM
		<include refid="TABLE" />
	</delete>

	<update id="update" parameterType="yll.entity.PlatformGroup">
		UPDATE
		<include refid="TABLE" />
		SET
		<include refid="SET_VALUES" />
		WHERE
		id = #{id}
	</update>

	<select id="getById" parameterType="java.lang.String" resultMap="RESULT_MAP">
		SELECT
		<include refid="COLUMNS" />
		FROM
		<include refid="TABLE" />
		WHERE id =#{id}
	</select>

	<select id="findAll" resultMap="RESULT_MAP">
		SELECT
		<include refid="COLUMNS" />
		FROM
		<include refid="TABLE" />
	</select>

	<select id="findBy" parameterType="yll.entity.PlatformGroup" resultMap="RESULT_MAP">
		SELECT
		<include refid="COLUMNS" />
		FROM
		<include refid="TABLE" />
		WHERE id != '0'
		<include refid="WHERES" />
		ORDER BY  live_time DESC
	</select>

	<select id="findByCondition" parameterType="yll.entity.PlatformGroup" resultMap="RESULT_MAP">
		SELECT
		<include refid="COLUMNS" />
		FROM
		<include refid="TABLE" />
		WHERE id != '0'
		<include refid="WHERES" />
		ORDER BY  created_time DESC
		LIMIT 0, 1;
	</select>


</mapper>
