<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<object th:replace="_include/_meta"></object>
<title>角色编辑</title>
</head>
<body>
	<div id="vm" v-cloak>
		<form is="el-form" :model="form" :rules="rules" ref="form" @submit.native.prevent>
			<div is="el-form-item" label="名称" prop="name" label-width="60px">
				<input is="el-input" v-model.trim="form.name" autocomplete="off" />
			</div>
			<div is="el-form-item" label="描述" prop="remark" label-width="60px">
				<textarea is="el-input" type="textarea" v-model.trim="form.remark" autocomplete="off"></textarea>
			</div>
			<div is="el-form-item" align="center">
				<button is="el-button" type="success" @click="confirm('form')">确定</button>
				<button is="el-button" @click="cancel">取消</button>
			</div>
		</form>
	</div>
	<script>
		new Vue({
			el : '#vm',
			data : {
				form : {
					id : '',
					name : '',
					remark : ''
				},
				rules : {
					name : [ {
						required : true,
						message : '请输入角色名称',
						trigger : 'blur'
					}, {
						min : 3,
						max : 35,
						message : '输入长度在3到35个字符',
						trigger : 'blur'
					}, {
						validator : function(rule, value, callback) {
							var regEn = /[`~!@#$%^&*()_+<>?:{}\/;[\]\\]/gi;
							var regCn = /[·！#￥（——）：；“”‘、|《》？、【】[\]\\]/gi;
							var reg = /\s+/gi;
							if (regEn.test(value) || regCn.test(value)) {
								callback(new Error("输入字符中不能包含特殊字符"));
							}else if(reg.test(value)){
								callback(new Error("输入字符中不能包含空字符"));
							} else {
								callback()
							}
						},
						trigger : 'blur'
					} ],
					remark : [ {
						required : true,
						message : '请输入描述内容',
						trigger : 'blur'
					}, {
						min : 3,
						max : 255,
						message : '输入长度在3到255个字符',
						trigger : 'blur'
					} ]
				},
			},
			created : function() {
			},
			mounted : function() {
				var vm = this;
				var search = __.decodeUrlParams();
				var id = search.id;
				if (!__.isEmpty(id)) {
					__.api('GET', '/rest/role/getById/' + id, {}, function(result) {
						if (!__.err(result)) {
							vm.form = result.data;
						} else {
							vm.$message.warning(result.message);
						}
					});
				}
			},
			methods : {
				confirm : function(formName) {
					var vm = this;
					var params = {}, form = this.form;
					params.id = form.id;
					params.name = __.trim(form.name);
					params.remark = __.trim(form.remark);
					this.$refs[formName].validate(function(valid) {
						if (valid) {
							__.api('POST', '/rest/role/save', params, function(result) {
								if (__.err(result)) {
									vm.$message.warning(result.message);
								} else {
									__.dialog.close();
								}
							});
						} else {
							return false;
						}
					});
				},
				cancel : function() {
					__.dialog.close();
				}
			}
		})
	</script>
</body>
</html>