<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<object th:replace="_include/_meta"></object>
<title>属性键新增和编辑</title>
<style>
.el-picker-panel {
	height: 320px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.el-date-editor.el-input, .el-input-number--small {
	width: 100%;
}

.unit {
	text-align: right;
	line-height: 40px;
}

/*@media screen and(-ms-high-contrast:active),(-ms-high-contrast:none){
	.el-picker-panel {
		height: 200px;
	}
}*/
</style>
</head>
<body>
	<div id="vm"  v-cloak  class="vm">
		<form is="el-form" :model="form" ref="form" :rules="rules" style="width: 100%;">

			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="类型" label-width="110px" prop="type">
						<div is="el-select" v-model="form.type" filterable placeholder="请选择">
							<div is="el-option"
								 v-for="item in types"
								 :key="item.code"
								 :label="item.codename"
								 :value="item.code">
							</div>
						</div>
					</div>
				</div>

			</div><div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="上级流程" label-width="110px" prop="type">
						<div is="el-select" v-model="form.pid" filterable placeholder="请选择">
							<div is="el-option"
								 v-for="item in list"
								 :key="item.id"
								 :label="item.name"
								 :value="item.id">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="名称" label-width="110px" prop="name">
						<input is="el-input" v-model="form.name"  controls-position="right" size="small" autocomplete="off">
					</div>
				</div>
			</div>

			<!-- TODO 继续搞这里,多选下拉 -->
			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="下级流程" label-width="110px" prop="name">
						<el-select
								v-model="form.nextProcess"
								multiple
								filterable
								allow-create
								default-first-option
								placeholder="请选择下级标签">
							<el-option
									v-for="item in listNext"
									:key="item.id"
									:label="item.name"
									:value="item.id">
							</el-option>
						</el-select>
					</div>
				</div>
			</div>


			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="备注" label-width="110px" prop="name">
						<input is="el-input" v-model="form.remark" controls-position="right" size="small" autocomplete="off">
					</div>
				</div>
			</div>

			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="序号" label-width="110px" prop="ordinal">
						<input is="el-input" v-model="form.ordinal" controls-position="right" size="small" autocomplete="off">
					</div>
				</div>
			</div>

			<div is="el-row">
				<div is="el-form-item" align="center" style="margin-top: 20px;">
					<button is="el-button" type="success" @click="confirm('form')">确定</button>
					<button is="el-button" @click="cancel()">取消</button>
				</div>
			</div>
		</form>
	</div>
	<script>
		new Vue({
			el : '#vm',
			data : {
				form : {
					id : '',
					name : '',
					pid : '',
					type : '',
					ordinal : '',
					nextProcess : '',
					remark : '',
					enabled : '0'
				},
				rules:{
					name:[{
						required : true,
						message : '请输入键名',
						trigger : 'blur'
					}],
					type:[{
						required : true,
						message : '请选择平台',
						trigger : 'blur'
					}]
				},
				coverFiles: [],
                imageFiles: [],
                videoFiles: [],
				types : [],
				list  : [],
				listNext  : [],
				pid  : '',
				uploadType : "",
				uploadUrl : cc.uploadUrl,
				imageAccept : cc.imageAccept,
				videoAccept : cc.videoAccept,
			},
			created : function() {
			},
			mounted : function() {
				var vm = this, search = __.decodeUrlParams();
				var id = search.id;
				vm.form.type = search.type;
				vm.form.pid = search.pid;
				if (!__.isEmpty(id)) {
					vm.pid = 0;
					__.api('GET', '/rest/process/' + id, {}, function(result) {
						if (__.err(result)) {
							vm.$message.warning(result.message);
							return;
						}
						var form = result.data;
						form.enabled = String(form.enabled);
						//下级数组处理
						if(!!form.nextProcess){
							form.nextProcess = form.nextProcess.split(",");
						}
						vm.form = form;
						console.log(form);
					});
				}
				vm.getDic();
			},
			watch: {
				'form.type':{
					handler(newName, oldName) {
						var vm = this;
						vm.getAll();
					},
					deep: true,		//当监测为对象的时候（非数组情况），deep = true 可以监测对象中属性的变化
					immediate: true   //最初绑定值的时候也执行函数
				}
			},
			methods : {
				confirm : function(formName) {
					var vm = this;
					var params = {}, form = this.form;
					//去除尾部逗号
					cc.trim(form);
					//vm.form.video = vm.form.video.replace(/^,*|,*$/g,'');
					this.$refs[formName].validate(function(valid) {
						//处理下一级
						if(!!form.nextProcess){
							var npStr = '';
							for (let i = 0; i < form.nextProcess.length; i++) {
								npStr += form.nextProcess[i] + ',';
							}
							//去掉最后一位逗号
							form.nextProcess = npStr.substring(0, npStr.length - 1);
						}
						console.log(form);
						if(valid){
							__.api('POST', '/rest/process/save', form, function(result) {
								if (__.err(result)) {
									vm.$message.warning(result.message);
								} else {
									vm.$message.info("保存成功");
									__.dialog.close();
								}
							});
						}else{
							return false
						}
					})

				},
				cancel : function() {
					__.dialog.close();
				},
				getAll : function() {
					var vm = this;
					console.log(vm.form.type);
					if(!!vm.form.type){
						__.api('POST', '/rest/process/all', {'type' : vm.form.type, 'pid' : vm.pid}, function(result) {
							if (__.err(result)) {
								vm.$message.warning(result.message);
							} else {
								var list = result.data;
								list.unshift({
									'id' : 0,
									'name' : '第一级',
								});
								if(vm.pid === 0){
									vm.list = list;
								} else{
									vm.listNext = list;
								}
							}
						});
					}
				},
				getDic : function() {
					vm = this;
					//数据字典类别
					__.api('POST', '/rest/dic/all', {'targetId' : 'process'}, function(result) {
						if (__.err(result)) {
							vm.$message.warning(result.message);
						} else {
							vm.types = result.data;
						}
					});
				},
				/**
				 * COS上传
				 * @param file
				 * @param fileList
				 */
				uploadFile : function(param){
					var vm = this;
					var file = param.file;
					var data = param.data;
					vm.uploadType = data;
					cosUtils.upload(param, vm.form, data);
				},
				handleRemove : function(file, fileList) {
					vm = this;
					//删除文件时
					cc.handleRemove(file, fileList, vm.form, file.type);
				},

				handlePreview : function(file) {
					vm = this;
					//点击已上传的文件链接时
					cc.handlePreview(file, vm.form);
				},
				handleSuccess : function(response,file,fileList) {
					vm = this;
					file.path = response.data;
					//文件上传成功时
					cc.handleSuccess(response, file, fileList, vm.form, vm.uploadType);
				},

			}
		})

	</script>
</body>
</html>
