<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<object th:replace="_include/_meta"></object>
<title>学习管理</title>
</head>
<style>
.el-menu-item.is-active {
	background: #e6eefb;
}

.fl {
	margin-left: 0;
}
</style>
<body>
	<div is="el-row" id="vm" v-cloak class="clearfix">
		<div class="container-left fl">
			<ul is="el-menu" ref="nav" :default-active="active">
				<li is="menu-node" v-for="menu in menus" :menu="menu"></li>
			</ul>
		</div>
		<div class="container-right fl">
			<iframe :src="contentUrl" width="100%" frameborder="0" :style="{height:frame.height}"></iframe>
		</div>
	</div>
	<script type="text/x-template" id="menu-node-template">
		<li :is="dynamicComponentTag(menu)" :index="menu.id" @click="onSelect(menu)">
			<i :class="'iconfont ' + (menu.icon || '')"></i>
			<span slot="title">{{menu.label}}</span>			
			<template v-if="!isLeaf(menu)">
		        <menu-node v-for="childmenu in menu.children" :menu="childmenu"></menu-node>
			</template>
		</li>
	</script>
	<script>
		Vue.bus = new Vue();
		Vue.component('menu-node', {
			props : [ 'menu' ],
			template : '#menu-node-template',
			methods : {
				dynamicComponentTag : function(menu) {
					return this.isLeaf(menu) ? 'el-menu-item' : 'el-submenu';
				},
				isLeaf : function(menu) {
					return menu.children == null || menu.children.length == 0;
				},
				onSelect : function(menu) {
					menu.type == 2 && Vue.bus.$emit('select', menu);
				}
			}
		});
		new Vue({
			el : '#vm',
			data : {
				active : null,
				menus : [],
				contentUrl : 'about:blank',
				frame : {
					height : '100%',
				}
			},
			mounted : function() {
				var vm = this;
				window.onresize = function() {
					vm.frame.height = (document.documentElement.clientHeight - 110) + 'px';
				};
			},
			mounted : function() {
				var vm = this;
				__.api('GET', '/rest/permission/menu-tree/30000', {}, function(result) {
					vm.menus = result.data;
					vm.menusHash = result.data;
					var scanFirst = function(nodes) {
						var i, node, result;
						for (i = 0; i < nodes.length; i++) {
							node = nodes[i];
							if (node.type == 2) {
								return node;
							}
							if (result = scan(node.children || [])) {
								return result;
							}
						}
						return null;
					};
					var first = scanFirst(vm.menus);
					first && vm.select(first);

				});
				Vue.bus.$on('select', function(menu) {
					vm.select(menu);
				});
			},
			methods : {
				select : function(menu) {
					var vm = this, path = menu.value;
					if (!__.isEmpty(path) && path != '#') {
						vm.contentUrl = __.url(path);
						vm.active = menu.id;
					}
				}
			}
		});
	</script>
</body>
</html>
