<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<object th:replace="_include/_meta"></object>
<link rel="stylesheet" type="text/css" th:href="@{/s/assets/login.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/s/assets/font-awesome-4.7.0/css/font-awesome.min.css}" />
<title>登录</title>
</head>
<script>
	if (window.location.href != window.top.location.href) {
		var allowEmbedded = __.decodeUrlParams()['allowEmbedded'];
		if (allowEmbedded !== false) {
			try {
				top.location.href = __.url('/login.html');
			} catch (e) {
			}
		}
	}
</script>
<body>
	<div id="vm" class="warp" style="position: relative;">
		<!--<img class="pic" th:src="@{/s/assets/images/logo.png}" />-->
		<div class="content">
			<div style="height: 100%;">
				<div class="banner">
					<img th:src="@{/s/assets/images/logo-bj.png}" />
				</div>
				<div class="container"></div>
			</div>
			<div class="titleWarp">
				<h2>欢迎进入</h2>
				<!-- <h3 style="margin: 7px 0;">——</h3> -->
				<p>管理平台</p>
			</div>
			<div class="loginWarp">
				<div class="loginPs">
					<form is="el-form">
						<input is="el-input" type="text" id="user" ref="account" @keyup.enter.native="enter(0)" v-model.trim="token.account" auto-complete="off" placeholder="请输入用户名" />
						<input is="el-input" id="pwd" type="password" ref="password" @keyup.enter.native="enter(1)" v-model="token.password" auto-complete="off" placeholder="请输入密码" style=""/>
						<div class="btn">
							<a href="###">忘记密码</a>
							<button is="el-button" type="primary" @click="submit()">登录</button>
						</div>
						<img class="user" th:src="@{/s/assets/images/user.png}" /> <img class="pwd" th:src="@{/s/assets/images/pwd.png}" />
					</form>
				</div>
			</div>
		</div>
		<div class="footer">—— 版权所有： ——</div>
	</div>
	<script type="text/javascript" charset="utf-8">
		new Vue({
			el : '#vm',
			data : {
				token : {
					account : '',
					password : ''
				}
			},
			mounted : function() {
				var vm = this;
				vm.$refs.account.focus();
			},
			methods : {
				enter : function(index) {
					var vm = this;
					vm.token.account = __.trim(vm.token.account);
					if (index == 0) {
						vm.$refs.password.focus();
					} else if (index == 1 && __.isEmpty(vm.token.account)) {
						vm.$refs.account.focus();
					} else {
						vm.submit();
					}
				},
				submit : function() {
					var vm = this;
					var token = vm.token;
					token.account = __.trim(token.account);
					if (__.isEmpty(token.account)) {
						vm.$message({
							message : '请输入账号',
							type : 'warning'
						});
						return;
					}
					if (__.isEmpty(token.password)) {
						vm.$message({
							message : '请输入密码',
							type : 'warning'
						});
						return;
					}
					__.api('POST', '/rest/login', token, function(result) {
						if (__.err(result)) {
							vm.$message.warning(result.message || '登录失败');
						} else {
							__.navigateTo('/index.html');
						}
					});
				},
				reset : function() {
					var vm = this;
					vm.token = {
						account : '',
						password : ''
					};
				}
			}
		});
	</script>
</body>

</html>
