<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<object th:replace="_include/_meta"></object>
<title>APP版本新增和编辑</title>
<style>
.el-picker-panel {
	height: 320px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.el-date-editor.el-input, .el-input-number--small {
	width: 100%;
}

.unit {
	text-align: right;
	line-height: 40px;
}

@media screen and(-ms-high-contrast:active),(-ms-high-contrast:none){
	.el-picker-panel {
		height: 200px;
	}
}
</style>
</head>
<body>
	<div id="vm" class="vm-virtual" v-cloak>
		<form is="el-form" :model="form" ref="form" :rules="rules" style="width: 100%;">
			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="版本号" label-width="110px" prop="versionName">
						<input is="el-input" v-model="form.versionName" controls-position="right" autocomplete="off" />
					</div>
				</div>
			</div>

			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="版本更新详情" label-width="110px" prop="versionDetails">
						<div is="el-input" type="textarea" autosize v-model="form.versionDetails" ></div>
					</div>
				</div>
			</div>

			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="APP上传" label-width="110px" prop="fileUrl">
						<div is="el-upload"
							 class="upload-demo"
							 :accept="appAccept"
							 :http-request="uploadFile"
							 data="files"
							 :on-preview="handlePreview"
							 :on-remove="handleRemove"
							 :on-success="handleSuccess"
							 :file-list="appFiles"
							 list-type="video">
							<el-button size="small" type="primary">点击上传</el-button>
							<div slot="tip" class="el-upload__tip">只能上传{{appAccept}}文件。</div>
						</div>
					</div>
				</div>
			</div>
			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="版本更新次数" label-width="110px" prop="versionCode">
						<input is="el-input" v-model="form.versionCode" controls-position="right" autocomplete="off">
					</div>
				</div>
			</div>

			<div is="el-row">
				<div is="el-form-item" align="center" style="margin-top: 20px;">
					<button is="el-button" type="success" @click="confirm('form')">确定</button>
					<button is="el-button" @click="cancel()">取消</button>
				</div>
			</div>
		</form>
	</div>
	<script>
		new Vue({
			el : '#vm',
			data : {
				form : {
					id : '',
					versionType : '',
					versionName : '',
					versionDetails : '',
					fileUrl : '',
					state : 1,
					versionCode : ""
				},
				rules:{
					versionName:[{
							required : true,
							message : '请输入版本号',
							trigger : 'blur'
						}],
					versionDetails:[{
						required : true,
						message : '请输入版本更新详情',
						trigger : 'blur'
					}],
					fileUrl:[{
						required : true,
						message : '请输入文件地址容',
						trigger : 'blur'
					}],
					versionCode:[{
						required : true,
						message : '请输入版本更新次数',
						trigger : 'blur'
					}]
				},
				appFiles: [],
				appAccept : cc.appAccept
			},
			created : function() {
			},
			mounted : function() {
				var vm = this, search = __.decodeUrlParams();
				var id = search.id;
				if (!__.isEmpty(id)) {
					__.api('GET', '/rest/app-version/' + id, {}, function(result) {
						if (__.err(result)) {
							vm.$message.warning(result.message);
							return;
						}
						var form = result.data;
						vm.form = form;
						//apk回显
						vm.appFiles = cc.display(vm.form.fileUrl, "files");
					});
				}
			},
			methods : {
				confirm : function(formName) {
					var vm = this;
					var params = {}, form = this.form;
					//去除尾部逗号
					cc.trim(form);
					this.$refs[formName].validate(function(valid) {
						if(valid){
							__.api('POST', '/rest/app-version/save', form, function(result) {
								if (__.err(result)) {
									vm.$message.warning(result.message);
								} else {
									vm.$message.info("保存成功");
									__.dialog.close();
								}
							});
						}else{
							return false
						}
					})
				},
				cancel : function() {
					__.dialog.close();
				},
				/**
				 * COS上传
				 * @param file
				 * @param fileList
				 */
				uploadFile : function(param){
					var vm = this;
					var file = param.file;
					var data = param.data;
					vm.uploadType = data;
					cosUtils.upload(param, vm.form, data);
				},
				handleRemove : function(file, fileList) {
					vm = this;
					//删除文件时
					cc.handleRemove(file, fileList, vm.form, file.type);
				},

				handlePreview : function(file) {
					vm = this;
					//点击已上传的文件链接时
					cc.handlePreview(file, vm.form);
				},
				handleSuccess : function(response,file,fileList) {
					vm = this;
					file.path = response.data;
					//文件上传成功时
					cc.handleSuccess(response, file, fileList, vm.form, vm.uploadType);
				}
			}
		})
	</script>
</body>
</html>