<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<object th:replace="_include/_meta"></object>
<title>修改密码</title>
</head>
<body>
	<div id="vm" v-cloak>
		<form is="el-form" :modle="form" ref="form" style="padding-top: 12px;">
			<div is="el-form-item" label="旧登录密码" label-width="88px">
				<div is="el-input" v-model.trim="form.oldPassword" placeholder="请输入旧登录密码" clearable></div>
			</div>
			<div is="el-form-item" label="新登录密码" label-width="88px">
				<div is="el-input" v-model.trim="form.newPassword" placeholder="请输入新登录密码" clearable></div>
			</div>
			<div is="el-form-item" label="确认新密码" label-width="88px">
				<div is="el-input" v-model.trim="form.newPassword2" placeholder="请再次输入新登录密码" clearable></div>
			</div>
				<div is="el-form-item" align="center">
				<button is="el-button" type="success" @click="confirm('form')">确定</button>
				<button is="el-button" @click="cancel">取消</button>
			</div>
		</form>
	</div>

	<script>
		new Vue({
			el : '#vm',
			data : {
				form : {
					oldPassword : '',
					newPassword : '',
					newPassword2 : '',
				}
			},
			created : function() {
				__.$vm = this;
			},
			mounted : function() {
				//__.mask();
			},
			methods : {
				confirm : function(done) {
					var vm = this, form = vm.form;
					if (__.isEmpty(form.oldPassword)) {
						vm.$message.warning('请输入旧密码');
						return;
					}
					if (__.isEmpty(form.newPassword)) {
						vm.$message.warning('请输入新密码');
						return;
					}
					if (__.isEmpty(form.newPassword2)) {
						vm.$message.warning('请再次输入新密码');
						return;
					}
					if (form.newPassword != form.newPassword2) {
						vm.$message.warning('两次新密码输入不一致');
						return;
					}
					__.api('POST', '/rest/user/password', form, function(result) {
						if (__.err(result)) {
							vm.$message.warning(result.message);
							return;
						}
						__.dialog.close(1);
					});
				},
				cancel : function() {
					__.dialog.close(0);
				}
			}
		});
	</script>
</body>
</html>