<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<object th:replace="_include/_meta"></object>
<title>用户新增和编辑</title>
<style>
.el-picker-panel {
	height: 320px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.el-date-editor.el-input, .el-input-number--small {
	width: 100%;
}

.unit {
	text-align: right;
	line-height: 40px;
}

@media screen and(-ms-high-contrast:active),(-ms-high-contrast:none){
	.el-picker-panel {
		height: 200px;
	}
}
</style>
</head>
<body>
	<div id="vm" class="vm-virtual" v-cloak>
		<form is="el-form" :model="form" ref="form" :rules="rules" style="width: 100%;">
			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="账号" label-width="110px" prop="account">
						<input is="el-input" v-model="form.account" controls-position="right" size="small" autocomplete="off">
					</div>
				</div>
			</div>
			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="名字" label-width="110px" prop="name">
						<input is="el-input" v-model="form.name" controls-position="right" autocomplete="off">
					</div>
				</div>
			</div>
			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="状态" label-width="110px">
						<el-radio v-model="form.enabled" label="1">启用</el-radio>
						<el-radio v-model="form.enabled" label="0">停用</el-radio>
					</div>
				</div>
			</div>
			<div is="el-row">
				<div is="el-col" :span="21">
					<div is="el-form-item" label="说明" label-width="110px">
						<input is="el-input" v-model="form.remark" controls-position="right" autocomplete="off">
					</div>
				</div>
			</div>

			<div is="el-row">
				<div is="el-form-item" align="center" style="margin-top: 20px;">
					<button is="el-button" type="success" @click="confirm('form')">确定</button>
					<button is="el-button" @click="cancel()">取消</button>
				</div>
			</div>
		</form>
	</div>
	<script>
		new Vue({
			el : '#vm',
			data : {
				form : {
					id : '',
					account : '',
					name : '',
					remark : '',
					enabled : '0'
				},
				rules:{
					account:[{
						required : true,
						message : '请输入账号',
						trigger : 'blur'
					}],
					name:[{
						required : true,
						message : '请输入名字',
						trigger : 'blur'
					}]
				}
			},
			created : function() {
			},
			mounted : function() {
				var vm = this, search = __.decodeUrlParams();
				var id = search.id;

				if (!__.isEmpty(id)) {
					__.api('GET', '/rest/user/' + id, {}, function(result) {
						if (__.err(result)) {
							vm.$message.warning(result.message);
							return;
						}
						var form = result.data;
						form.enabled = String(form.enabled);
						vm.form = form;
					});
				}
			},
			methods : {
				confirm : function(formName) {
					var vm = this;
					var params = {}, form = this.form;
					this.$refs[formName].validate(function(valid) {
						if(valid){
							__.api('POST', '/rest/user/save', form, function(result) {
								if (__.err(result)) {
									vm.$message.warning(result.message);
								} else {
									vm.$message.info("保存成功");
									__.dialog.close();
								}
							});
						}else{
							return false
						}
					})
	
				},
				cancel : function() {
					__.dialog.close();
				}
			}
		})
	</script>
</body>
</html>